<div class="container">
	<div class="row">
		<div class="col-3">
			<ul class="list-group"  >
				<li *ngFor="let hero of model.getHeroes()" class="list-group-item list-group-item-secondary" 
					(click)="selectHero(hero)" [class.active]="hero===selectedHero" > 
					<a [routerLink]="['/details', hero.id]" >
						<span> name: {{hero.name}} </span>  
						<span class="badge badge-secondary"> points: {{hero.points}} </span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-5">
			<!-- <hero-details [hero]="selectedHero" [actionok]="unselectHero.bind(this)" [parent]="this" ></hero-details>  -->
			<!-- przekazanie obiektu do komponentu nizej-pojawia sie zaleznosc: rodzic-dziecko -->
			<a (click)="sortHeroesAsc()" class="btn btn-secondary" href="#"  role="button" >sort heroes +</a>
			<div></div>
			<a (click)="sortHeroesDesc()" class="btn btn-secondary" href="#"  role="button" >sort heroes -</a>
			<div></div>
			<a (click)="copyHeroes()" class="btn btn-secondary" href="#"  role="button" >mul heroes</a>
		</div>
	</div>
</div>