<div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" id="column_rendering" style="">
    <table class="m-datatable__table" id="m-datatable--1335391329591" style="display: block; height: auto; overflow-x: auto;">
        <thead class="m-datatable__head">
            <tr class="m-datatable__row" style="height: 56px;">
                <th data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check m-datatable__cell--sort">
                    <span style="width: 40px;">
                        <label class="m-checkbox m-checkbox--single m-checkbox--all m-checkbox--solid m-checkbox--brand">
                            <input type="checkbox"><span></span>
                        </label>
                    </span>
                </th>
                <th data-field="CompanyAgent" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 200px;">Pracownik</span>
                </th>
                <th data-field="CompanyEmail" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 150px;">Email</span>
                </th>
                <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 170px;">Status</span>
                </th>
                <th data-field="Type" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 170px;">Typ</span>
                </th>
                <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;"></span>
                </th>
            </tr>
        </thead>
        <tbody class="m-datatable__body" style="">

            <tr data-row="0" class="m-datatable__row m-datatable__row--even" style="height: 62px;">
                <td data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                    <span style="width: 40px;">
                        <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                        <input type="checkbox" value="1">
                        <span></span>
                        </label>
                    </span>
                </td>
                <td data-field="CompanyAgent" class="m-datatable__cell">
                    <span style="width: 200px;">
                        <div class="m-card-user m-card-user--sm">								
                            <div class="m-card-user__pic">									
                                <div class="m-card-user__no-photo m--bg-fill-danger">
                                    <span>J</span>
                                </div>
                            </div>
                            <div class="m-card-user__details"> 
                                <span class="m-card-user__name">John Butner</span> 
                                <a href="" class="m-card-user__email m-link">Bosco-Turner</a> 
                            </div>
                        </div>
                    </span>
                </td>
                <td data-field="CompanyEmail" class="m-datatable__cell">
                    <span style="width: 150px;">
                        <a class="m-link" href="mailto:jbutner0@de.vu">jbutner0@de.vu</a>
                    </span>
                </td>
                <td data-field="Status" class="m-datatable__cell">
                    <span style="width: 170px;">
                        <span class="m-badge  m-badge--success m-badge--wide">Success
                        </span>
                    </span>
                </td>
                <td data-field="Type" class="m-datatable__cell">
                    <span style="width: 170px;">
                        <span class="m-badge m-badge--accent m-badge--dot"></span>&nbsp;
                        <span class="m--font-bold m--font-accent">Direct</span>
                    </span>
                </td>
                <td data-field="Actions" class="m-datatable__cell">
                    <span style="overflow: visible; width: 110px;">						
                        <div class="dropdown ">							
                            <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">     
                                <i class="la la-ellipsis-h"></i>                            
                            </a>						  
                            <div class="dropdown-menu dropdown-menu-right">						    	
                                <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>						    	
                                <a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>						    	
                                <a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>						  	
                            </div>						
                        </div>						
                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
                            <i class="la la-edit"></i>						
                        </a>						
                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">	
                        	<i class="la la-trash"></i>						
                        </a>					
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
