

<div class="m-portlet m-portlet--mobile" >

<div class="m-portlet__head">
	<div class="m-portlet__head-caption">
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Lista pracowników firmy
			</h3>
		</div>
	</div>
	<div class="m-portlet__head-tools">
		<ul class="m-portlet__nav">
			<li class="m-portlet__nav-item">
				<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
					<a routerLink="../list" class="
m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
						<i class="la la-plus m--hide"></i>
						<i class="la la-ellipsis-h m--font-brand"></i>
					</a>
					<div class="m-dropdown__wrapper">
						<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__body">
								<div class="m-dropdown__content">
									<ul class="m-nav">
										<li class="m-nav__section m-nav__section--first">
											<span class="m-nav__section-text">
												Operacje
											</span>
										</li>
										<li class="m-nav__item">
											<a routerLink="../list" class="m-nav__link" (click)="refresh()">
												<i class="m-nav__link-icon flaticon-refresh"></i>
												<span class="m-nav__link-text">
													Odswież listę
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a routerLink="../add" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-user-add"></i>
												<span class="m-nav__link-text">
													Dodaj użytkownika
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-multimedia-2"></i>
												<span class="m-nav__link-text">
													Upload File
												</span>
											</a>
										</li>
										<li class="m-nav__section">
											<span class="m-nav__section-text">
												Useful Links
											</span>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-info"></i>
												<span class="m-nav__link-text">
													FAQ
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-lifebuoy"></i>
												<span class="m-nav__link-text">
													Support
												</span>
											</a>
										</li>
										<li class="m-nav__separator m-nav__separator--fit m--hide"></li>
										<li class="m-nav__item m--hide">
											<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
												Submit
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="m-portlet__body">
	<!--begin: Search Form -->
	<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
		<div class="row align-items-center">
			<div class="col-xl-8 order-2 order-xl-1">
				<div class="form-group m-form__group row align-items-center">
					
					<div class="col-md-4">
						<div class="m-input-icon m-input-icon--left">
							<input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="m_form_search">
							<span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="la la-search"></i>
								</span>
							</span>
						</div>
					</div>

				</div>
			</div>
			<div class="col-xl-4 order-1 order-xl-2 m--align-right">
				<a routerLink="../add" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air">
					<span>
						<i class="flaticon flaticon-user-add"></i>
						<span>
							Dodaj
						</span>
					</span>
				</a>
				<div class="m-separator m-separator--dashed d-xl-none"></div>
			</div>
		</div>
	</div>
<!--end: Search Form -->



<!--begin: Datatable -->
<div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" id="column_rendering" style="" >
    <table class="m-datatable__table" id="m-datatable--1335391329591" style="display: block; height: auto; overflow-x: auto;">
        <thead class="m-datatable__head">
            <tr class="m-datatable__row" style="height: 56px;">
                <th data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check m-datatable__cell--sort">
                    <span style="width: 40px;">
                        <label class="m-checkbox m-checkbox--single m-checkbox--all m-checkbox--solid m-checkbox--brand">
                            <input type="checkbox"><span></span>
                        </label>
                    </span>
                </th>
                <th data-field="CompanyAgent" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 200px;">Pracownik</span>
                </th>
                <th data-field="CompanyEmail" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 150px;">Email</span>
                </th>
                <!-- <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 170px;">Status</span>
                </th> -->
                <!-- <th data-field="Type" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 170px;">Typ</span>
                </th> -->
                <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;"></span>
                </th>
            </tr>
        </thead>
        <tbody class="m-datatable__body" style="">


        	<div *ngIf="loading" id="load_users" style="position: relative; margin-left: 400px;">
				<div style="position: fixed; z-index: 100; left:300px;"  >
					<div class="m-blockui">
						<span>
							Wczytywanie ..
						</span>
						<span>
							<div class="m-loader m-loader--brand"></div>
						</span>
					</div>
				</div>
			</div>

            <tr *ngFor="let user of users" data-row="0" class="m-datatable__row m-datatable__row--even" style="height: 62px;">
                <td data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                    <span style="width: 40px;">
                        <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                        <input type="checkbox" value="{{user.id}}">
                        <span></span>
                        </label>
                    </span>
                </td>
                <td data-field="CompanyAgent" class="m-datatable__cell">
                    <span style="width: 200px;">
                        <div class="m-card-user m-card-user--sm">								
                            <div class="m-card-user__pic">									
                                <div class="m-card-user__no-photo {{user.fillstyle}}">
                                    <span>{{user.firstLetter}}</span>
                                </div>
                            </div>
                            <div class="m-card-user__details"> 
                                <span class="m-card-user__name">{{user.name}}</span> 
                                <!-- <a href="" class="m-card-user__email m-link">Bosco-Turner</a>  -->
                            </div>
                        </div>
                    </span>
                </td>
                <td data-field="CompanyEmail" class="m-datatable__cell">
                    <span style="width: 150px;">
                        <a class="m-link" href="mailto:{{user.email}}">{{user.email}}</a>
                    </span>
                </td>
               <!--  <td data-field="Status" class="m-datatable__cell">
                    <span style="width: 170px;">
                        <span class="m-badge  m-badge--success m-badge--wide">Success
                        </span>
                    </span>
                </td> -->
               <!--  <td data-field="Type" class="m-datatable__cell">
                    <span style="width: 170px;">
                        <span class="m-badge m-badge--accent m-badge--dot"></span>&nbsp;
                        <span class="m--font-bold m--font-accent">Direct</span>
                    </span>
                </td> -->
                <td data-field="Actions" class="m-datatable__cell">
                    <span style="overflow: visible; width: 110px;">						
                        <div class="dropdown ">							
                            <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">     
                                <i class="la la-ellipsis-h"></i>                            
                            </a>						  
                            <div class="dropdown-menu dropdown-menu-right">						    	
                                <a class="dropdown-item" href="#"><i class="la la-edit"></i> Edit Details</a>						    	
                                <a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update Status</a>						    	
                                <a class="dropdown-item" href="#"><i class="la la-print"></i> Generate Report</a>						  	
                            </div>						
                        </div>						
                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">
                            <i class="la la-edit"></i>						
                        </a>						
                        <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">	
                        	<i class="la la-trash"></i>						
                        </a>					
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

		<!--end: Datatable -->
	</div>
</div>